.home {
	/* margin-left: 260px; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.auth__content {
	color: var(--white);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}
.auth__button i {
	margin-right: 10px;
}

.auth__button {
	font-size: 16px;
	margin-top: 10px;
	padding: 10px 16px;
	font-weight: 600;
	background-color: var(--green);
	border: none;
	border-radius: 26px;
	cursor: pointer;
}
.auth__button a {
	text-decoration: none;
	color: var(--white);
}

.card__content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.home__nocards {
	margin-top: 16px;
	width: 100%;
	color: var(--white);
	text-align: center;
	font-size: 20px;
}

.home__cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 20px;
	row-gap: 40px;
}
