.auth__content {
	font-size: 20px;
	color: var(--white);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.auth__button {
	margin-top: 10px;
	background-color: var(--green);
	padding: 6px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.auth__button a {
	text-decoration: none;
	color: var(--white);
}

.card__content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.home__content {
	margin-top: 16px;
	color: var(--white);
	text-align: center;
	font-size: 20px;
}

.home__cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 20px;
	row-gap: 40px;
}
