* {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(var(--purple) 0%, var(--darkpurple) 100%);
	background-repeat: no-repeat;
	min-height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	margin: 0 auto;
}

:root {
	--white: #ffffff;
	--black: #121212;
	/* --grayblack: #212121; */
	--grayblack: #181818;
	--gray: #535353;
	--lightgray: #282828;
	--green: #1db954;
	--lightgreen: #1ed760;
	--purple: #4623a5;
	--darkpurple: #24073f;
}
